# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# notes-and-stuff
notes/*

# originui
src/components/ui/*
!src/components/ui/accordion.tsx
!src/components/ui/select.tsx
!src/components/ui/button.tsx
!src/components/ui/checkbox.tsx
!src/components/ui/label.tsx
!src/components/ui/pagination.tsx
!src/components/ui/table.tsx

src/hooks/*
!src/hooks/use-pagination.tsx
